/*Global*/
:root {
/*Color*/
--color-white: #ffffff;
--color-light-white: #eeeeee;
--color-dark-white: #bdbdbd;
--color-pink:#fe918d;
--color-dark-pink:#ff6863;
--color-dark-grey:#4d4d4d;
--color-grey:#616161;
--color-light-grey:#7c7979;
--color-blue:#73aace;
--color-yellow:#fff7d1;
--color-light-orange:#feb546;
--color-black:#000000;
--color-green:#3B9032;
--color-dark-green: #144431;
--color-light-green:#297858;
--color-real-orange:#FF5F00;
--color-orange:#ff5900;


/*Font size*/
--font-large: 48px;
--font-medium: 28px;
--font-regular: 18px;
--font-small:16px;
--font-micro:14px;

/*Font weight*/
--weight-bold: 700;
--weight-semi-bold:600;
--weight-regular:400;

/*Size*/
--size-border-radius:4px;
}
/*Universaltags*/
@font-face {
    font-family: 'BMHANNAAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/BMHANNAAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'paybooc-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ELAND_Choice_M';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    box-sizing: border-box;
}
body{
    font-family:'BMHANNAAir';
    margin:0;
    cursor: default;
}

/*Typography*/
h1{
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0;
    font-family: 'ELAND_Choice_M';
}
h2{
    font-size: var(--font-regular);
    font-weight:var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}
h3{
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
}

p{
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
}
a{
    text-decoration: none;
    color: var(--color-white);
}
ul{
    
    padding-left: 0;
}
li{
    list-style: none;
}
button{
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

/*Navbar*/
#navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-light-green);
    align-items: center;
    padding: 16px;
   
}
.navbar__menu{
    display: flex;
    color: var(--color-white);
}
.navbar__logo{
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}

.navbar__menu__item{
    padding: 8px 12px;
    margin: 0 4px;
    font-family:'Noto Sans JP';
    cursor: pointer;
    border-radius: var(--size-border-radius);
}
.navbar__menu__item.active{
    border:1px solid var(--color-white);
    
}
.navbar__menu__item:hover{
    border-radius: var(--size-border-radius);
    background-color: var(--color-dark-green);
}
/*Home*/
#home{
    background: url('images/2-1back.png') center/cover no-repeat ;
    padding:40px;
}
.home__avatar{
    width: 180px;
    height:180px;
    position: relative;
    left: 300px;
    top: 80px;
    border: 4px solid var(--color-white);
    border-radius: 30%;
}
.home__title{
    position: relative;
    left: 600px;
    top:-120px;
    color: var(--color-light-white);
}
.home__description{
    position: relative;
    left: 600px;
    top: -120px;
    color: var(--color-dark-white);
}
.home__contact{
    position: relative;
    left: 580px;
    top: -120px;
    font-weight: var(--weight-bold);
    font-size: var(--font-regular);
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid var(--color-yellow);
    border-radius: var(--size-border-radius);
    color: var(--color-yellow);
}
/*Section common*/
.section{
    padding: 50px;
    text-align: center;
    max-width: 1200px;
}